/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h1{
    font-weight: 600;
    font-size:2em;
    -webkit-margin-after: 0em;
}

h2, h3 {
    font-weight: 300;
    -webkit-margin-after: 0em;
}

p {
    line-height: 1.6em;
    font-weight: 100;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}



/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('./assets/HeaderMobile.jpg') center 0px no-repeat;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/HeaderMobile.jpg', sizingMethod='scale');
    width: 100%;
    position:relative;
    height: 620px;
}

    .logo{
        display: inline-block;
        position: relative;
        margin: 10px auto;
        width: 200px;
        height: 53px;
        background: transparent url('./assets/logo.png') center 0px no-repeat;
        background-size: 70%;
    }

.banner2 {
    background: transparent url('./assets/Pet.jpg') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/Pet.jpg', sizingMethod='scale');
    margin-top: 2em;
    height: 568px;
    width: 100%;
    display: table;
}

.banner3 {
    background: transparent url('./assets/Applicant.jpg') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/Applicant.jpg', sizingMethod='scale');
    margin-top: 2em;
    height: 568px;
    width: 100%;
    display: table;
}

.banner4 {
    background: transparent url('./assets/Maintenance.jpg') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/Maintenance.jpg', sizingMethod='scale');
    margin-top: 2em;
    height: 568px;
    width: 100%;
    display: table;
}
/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information,
 .block {
    max-width: 1024px;
    margin: 0 auto;
 }

.picinfo{
    background-color: rgba(0,0,0,.3);
    color: white;
    margin-top: 0px;
    padding: 10px 10px 20px 10px;
    bottom:0px;
 }
 .headermessage{
    color: black;
    margin-top: 156px;
    padding: 10px 10px 20px 10px;
    bottom:0px;
 }
 .subhead{
    font-size: 18px;
    font-weight: 100;
    display: block;
    margin-top:10px;
    line-height: 24px;
}
.price{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-top:15px;
}

.emailblock{
    margin-top:0px;
    display: inline-block;
    width:100%;
}
.upsell{
    margin:8px 0px 12px 0px;
    display: inline-block;
    font-weight: 600;
}

/* Bullet point section */

    .centerblock{
        text-align: center;
        color:#83A7A5;
    }

    .bulletfloat{
        margin:.75em;
    }
/*
    .shiftbulletsup{
        margin-bottom:-160px;
    }*/


    .icon{
        max-width:35%;
        max-height:35%;
    }
    .bulletfloat p {
        font-size: 14px
    }

/*    .bulletblock {
        background: transparent url('./assets/lockshot.png') center center no-repeat;
        background-size: 30%;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/lockshot.png', sizingMethod='scale');
    }*/

    .empty{
        display:none;
    }

.buycta{
    background: rgba(0,0,0,.5);
    padding-bottom:20px;
    position: absolute;
    bottom:0px;
    width:100%;
}

/*    .buycta span, .buycta h3{
        display:inline-block;
    }*/

    .buycta h3{
        color:white !important;
        font-weight: 100;
        margin-bottom:15px;
        font-size:20px;
    }

    .buttongreen{
        background:#6FB048;
        color:white;
        border:1px solid #6FB048;
        border-radius: 2px;
        font-weight:100;
        cursor: pointer;
        padding:11px 14px 13px 14px;
        margin: 10px 0px 0px 0px;
        outline: none;
        min-width: 95%;
        -webkit-transition: all 0.20s ease-in-out;
        -moz-transition: all 0.20s ease-in-out;
        -ms-transition: all 0.20s ease-in-out;
        -o-transition: all 0.20s ease-in-out;
    }

    .buttongreen:hover{
        background:rgb(81, 128, 53);
    }

.ghost{
    border:1px solid white;
    border-radius: 2px;
    background:transparent no-repeat;
    height:2.2em;
    outline: none;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

.ghostform{
    min-width: 90%;
    padding:5px 10px 5px 6px;
    text-align: center;
}
/*.ghostbutton{
    padding:.7em .7em 1.9em .7em;
}
.ghostbutton:hover{
    background-color:white;
    color:black;
}*/
.error{
    font-size: 14px;
    background-color:red;
    color:white;
    padding:8px;
    display:none;
    margin-top: 5px;
}

        ::-webkit-input-placeholder {
           color: rgba(255,255,255,.5);
        }

        :-moz-placeholder { /* Firefox 18- */
           color: rgba(255,255,255,.5);  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: rgba(255,255,255,.5);  
        }

        :-ms-input-placeholder {  
           color: rgba(255,255,255,.5);  
        }


        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            box-shadow: 0 0 6px rgba(255, 255, 255, 1);
            border:1px solid white;
        }


.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */



@media(min-width: 767px) {

    h1{
        font-size:3.75em !important;
    }
    .banner {
        background: transparent url('./assets/HeaderDesktop.jpg') center center no-repeat !important;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/HeaderDesktop.jpg', sizingMethod='scale') !important;
        height: 620px !important;
        background-size:cover!important;
        text-align: left !important;
        margin-bottom:10px;
    }
    .headermessage{
        margin-top: 120px !important;
        padding: 10px 20px 35px 30px !important;
        width: 76% !important;
    }
    
    .picinfo{
        margin-top: 120px !important;
        padding: 10px 20px 35px 30px !important;
     }
    .logo{
        display: inline !important;
        position: absolute !important;
        margin: 15px 0px 0px !important;
    }
    .empty{
        display:inline-block !important;
    }
    .shiftbulletsup{
        margin-bottom: -160px !important;
    }
    .bulletblock {
        background: transparent url('./assets/lockshot.png') center center no-repeat !important;
        background-size: 30% !important;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/lockshot.png', sizingMethod='scale');
    }
    .buycta{
        padding-bottom:20px !important;
    }
    .buttongreen{
        margin: 0px 0px 0px 5px !important;
        display:inline-block !important;
        min-width: 80px !important;
    }
    .ghostform{
        text-align: left !important;
    }
     .subhead{
        font-size: 24px !important;
        margin-top:10px !important;
        line-height: 30px !important;
    }
    .price{
        font-size: 24px !important;
        margin-top:20px !important;
    }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {

    .picinfo{
        background-color: rgba(0,0,0,.3);
        color: white;
        margin-top: 0px;
        padding: 10px 20px 35px 30px;
     }

    .logo{
        display: inline-block;
        position: relative;
        margin: 30px auto;
    }

    .empty{
        display:none;
    }
    .shiftbulletsup{
        margin-bottom: 0px;
    }

    .bulletblock {
        background: none; /*transparent url('./assets/lockshot.png') top center no-repeat;*/
        background-size: 60%;
        /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/lockshot.png', sizingMethod='scale');*/
    }
    .ghostform{
        min-width: 300px;
        padding:.2em 0em .2em .4em;
    }
}
