/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
}

h1{
    font-weight: 100;
    font-size:1.8em;
    -webkit-margin-after: 0em;
}

h2, h3 {
    font-weight: 300;
    -webkit-margin-after: 0em;
}

p {
    line-height: 1.6em;
    font-weight: 100;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}



/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('./assets/Smart_Lock_wood.png') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/Smart_Lock_wood.png', sizingMethod='scale');

    width: 100%;
    display: table;
}

    .logo{
        display: inline-block;
        position: relative;
        margin: 30px auto;
        width: 200px;
        height: 53px;
        background: transparent url('./assets/logo.png') 0 0 no-repeat;
    }

.banner2 {
    background: transparent url('./assets/hero_pet.png') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/hero_pet.png', sizingMethod='scale');
    margin-top: 2em;
    height: 568px;
    width: 100%;
    display: table;
}

.banner3 {
    background: transparent url('./assets/hero_tourreq.png') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/hero_tourreq.png', sizingMethod='scale');
    margin-top: 2em;
    height: 568px;
    width: 100%;
    display: table;
}

.banner4 {
    background: transparent url('./assets/hero_maint.png') center center no-repeat;
    text-align: left;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/hero_maint.png', sizingMethod='scale');
    margin-top: 2em;
    height: 568px;
    width: 100%;
    display: table;
}
/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information,
 .block {
    max-width: 1024px;
    margin: 0 auto;
 }

.picinfo{
    background-color: rgba(0,0,0,.3);
    color: white;
    margin-top: 0px;
    padding: 10px 10px 20px 10px;
    bottom:0px;
 }

.emailblock{
    margin-top:0px;
    display: inline-block;
}
.upsell{
    margin:8px 0px 12px 0px;
    display: inline-block;
    font-weight: 600;
}

/* Bullet point section */

    .centerblock{
        text-align: center;
        color:#83A7A5;

    }

    .bulletfloat{
        margin:.75em;
    }
/*
    .shiftbulletsup{
        margin-bottom:-160px;
    }*/


    .icon{
        max-width:35%;
        max-height:35%;
    }
    .bulletfloat p {
        font-size: 14px
    }

/*    .bulletblock {
        background: transparent url('./assets/lockshot.png') center center no-repeat;
        background-size: 30%;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/lockshot.png', sizingMethod='scale');
    }*/

    .empty{
        display:none;
    }

.buycta{
    background:#666666;
    border-top:1px solid #979797;
    border-bottom:1px solid #979797;
    margin-bottom: 2em;
    padding-bottom:20px;
}

    .buycta span, .buycta h3{
        display:inline-block;
    }

    .buycta h3{
        color:white !important;
        font-weight: 100;
    }

    .buttongreen{
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        background:#6FB048;
        padding:10px 10px 10px 10px;
        color:white;
        border-radius: 2px;
        font-weight:100;
        cursor: pointer;
        margin: 10px 0px 0px 11px;
        display:none !important;
    }

    .buttongreen:hover{
        background:rgb(81, 128, 53);
    }

.ghostform{
    border:1px solid white;
    border-radius: 2px;
    background:transparent no-repeat;
    height:2.2em;
    min-width: 320px;
    padding:.2em .2em .2em .4em;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

        ::-webkit-input-placeholder {
           color: rgba(255,255,255,.5);
        }

        :-moz-placeholder { /* Firefox 18- */
           color: rgba(255,255,255,.5);  
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: rgba(255,255,255,.5);  
        }

        :-ms-input-placeholder {  
           color: rgba(255,255,255,.5);  
        }


        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            box-shadow: 0 0 6px rgba(255, 255, 255, 1);
            border:1px solid white;
        }


.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */



@media(min-width: 767px) {

    h1{
        font-size:2.25em !important;
    }
    .banner {
        height: 568px !important;
    }
    .picinfo{
        margin-top: 120px !important;
        padding: 10px 20px 35px 30px !important;
     }
    .logo{
        display: inline !important;
        position: absolute !important;
        margin: 15px 0px 0px !important;
    }
    .empty{
        display:inline-block !important;
    }
    .shiftbulletsup{
        margin-bottom: -160px !important;
    }
    .bulletblock {
        background: transparent url('./assets/lockshot.png') center center no-repeat !important;
        background-size: 30% !important;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/lockshot.png', sizingMethod='scale');
    }
    .buycta{
        padding-bottom:10px !important;
    }
    .buttongreen{
        margin: 0px 0px 0px 11px !important;
        display:inline-block !important;
    }
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {

    .picinfo{
        background-color: rgba(0,0,0,.3);
        color: white;
        margin-top: 0px;
        padding: 10px 20px 35px 30px;
     }

    .logo{
        display: inline-block;
        position: relative;
        margin: 30px auto;
    }

    .empty{
        display:none;
    }
    .shiftbulletsup{
        margin-bottom: 0px;
    }

    .bulletblock {
        background: none; /*transparent url('./assets/lockshot.png') top center no-repeat;*/
        background-size: 60%;
        /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/lockshot.png', sizingMethod='scale');*/
    }
    .ghostform{
        min-width: 300px;
        padding:.2em 0em .2em .4em;
    }
}
